@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        
     Log in before creating,editing, or deleting an article
        <a href="~/Account/Login">LOGIN</a>
    </li>

</ol>
